<div class="container">
    <h2>Reset Password</h2>
  
    <form (submit)="resetPassword(); $event.preventDefault()">
      <label for="password">New Password</label>
      <input type="password" id="password" [(ngModel)]="resetData.password" name="password" class="form-control" required />
  
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" [(ngModel)]="resetData.confirmPassword" name="confirmPassword" class="form-control" required />
  
      <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
    </form>
  </div>
  