<div class="reset-container">
    <!-- القسم الأيسر (الصورة والخلفية) -->
    <div class="reset-left">
        <div class="logo">
            <i class="fa-solid fa-graduation-cap"></i>
            <h4>Triple</h4>
            <h5>S</h5>
        </div>
        <img src="../../assets/a4e461fe3742a7cf10a1008ffcb18744.png" alt="Reset Illustration" class="reset-img">
    </div>

    <!-- القسم الأيمن (النموذج) -->
    <div class="reset-right">
        <h2>Reset Password</h2>
        <p>Enter your new password</p>

        <form (submit)="resetPassword(); $event.preventDefault()">
            <!-- كلمة المرور الجديدة -->
            <div class="input-box">
                <i class="fa-solid fa-lock"></i>
                <input [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="resetData.password"
                    name="password" placeholder="New Password" class="form-control" required />
                <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePasswordVisibility()"></i>
            </div>

            <!-- تأكيد كلمة المرور -->
            <div class="input-box">
                <i class="fa-solid fa-lock"></i>
                <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                    [(ngModel)]="resetData.confirmPassword" name="confirmPassword" placeholder="Confirm Password"
                    class="form-control" required />
                <i class="fa-solid" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="toggleConfirmPasswordVisibility()"></i>
            </div>

            <button type="submit" class="btn-reset">Reset Password</button>
        </form>
    </div>
</div>
