
<app-header></app-header>



<!-- search bar -->
<div class="form-outline mt-3 p-5">
  <label for="search" class="text-info"  >Search For Student</label>
  <input type="search" [(ngModel)]="searchtext" class="form-control" id="search"placeholder="student name" >
</div>







<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Full name</th>
        <th scope="col">Email</th>
        <th scope="col">address</th>
        <th scope="col">City</th>
        <th scope="col">grade</th>
        <th scope="col">Gender</th>
        <th scope="col">age</th>
      </tr>
    </thead>
    <tbody>
        
            <tr *ngFor="let index of student|filter:searchtext |paginate:{itemsPerPage:itemsPerPage,currentPage:pageNumber,totalItems:totalItems};let i=index">
                
                <td>{{i+1}}</td>
                <td>{{index.id}}</td>
                <td>{{index.firstName}}</td>
                <td>{{index.lastName}}</td>
                <td>{{index.firstName}} {{index.lastName}}</td>
                <td>{{index.email}}</td>
                <td>{{index.address}}</td>
                <td>{{index.city}}</td>
                <td>{{index.grade}}</td>
                <td>{{index.gender}}</td>
                <td>{{index.age}}</td>
                <td><i id="edit" class="fa-solid fa-pen-to-square" [routerLink]="['/update',index.id]" title="edit"></i></td>
                <td><i class="fa-solid fa-trash" aria-hidden="true" (click)="delete(index.id)" title="delete"></i></td>
              
              </tr>

       
      
     
    </tbody>
  </table>

  <div class="pagination">
    
    <pagination-controls (pageChange)="pagechanged($event)" previousLabel="prev" nextLabel="Next"></pagination-controls>
  </div>