
<!-- <app-header></app-header>

<div class="row ml-3">
  <div class="col-md-4 mt-2">
    <label for="qr">QR Text</label>
    <textarea class="form-control" type="text" id="qr" [(ngModel)]="qrValue"></textarea>
  </div>

</div>
<div class="col-md-2">
  <qrcode [qrdata]="qrValue" [width]="20" colorDark="#59c7f3" colorLight="#fff"></qrcode>
</div>
<div class="row ">
  <div class="col-md-1 offset-md-8">
    <i class="fa-solid fa-download" id="csv" title="download file.csv" (click)="downloadCsvFile()"></i>

  </div>
</div> -->



<!-- search bar -->
<!-- <div class="form-outline mt-3 p-5">
  <label for="search" class="text-info"  >{{s|titlecase}}</label>
  <input type="search" [(ngModel)]="searchtext" class="form-control" id="search"placeholder="student name" >
</div> -->







<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Full name</th>
        <th scope="col">Email</th>
        <th scope="col">address</th>
        <th scope="col">City</th>
        <th scope="col">grade</th>
        <th scope="col">Gender</th>
        <th scope="col">age</th>
      </tr>
    </thead>
    <tbody> -->
      <!-- |paginate:{itemsPerPage:5,currentPage:pageNumber} -->
            <!-- <tr *ngFor="let index of student|filter:searchtext |paginate:{itemsPerPage:itemsPerPage,currentPage:pageNumber,totalItems:totalItems}; let i=index">
                
                <td>{{i+1}}</td>
                <td>{{index.id}}</td>
                <td>{{index.firstName}}</td>
                <td>{{index.lastName}}</td>
                <td>{{index.firstName}} {{index.lastName}}</td>
                <td>{{index.email}}</td>
                <td>{{index.address}}</td>
                <td>{{index.city}}</td>
                <td>{{index.grade}}</td>
                <td>{{index.gender}}</td>
                <td>{{index.age}}</td>
                <td><i id="edit" class="fa-solid fa-pen-to-square" [routerLink]="['/update',index.id]" title="edit"></i></td>
                <td><i class="fa-solid fa-trash" aria-hidden="true" (click)="delete(index.id)" title="delete"></i></td>
               
              
              </tr>

       
      
     
    </tbody>
  </table> -->

  <!-- <div class="d-flex justify-content-center" >
    <pagination- (pageChanged)="pageNumber=$event"></pagination->
  </div> -->

  <!-- <div class="pagination">
    
    <pagination-controls (pageChange)="pagechanged($event)" previousLabel="prev" nextLabel="Next"></pagination-controls>
  </div> -->


  
<!-- 
  <div class="col-2">
    <div class="dataTables_length"><label>Show
        <select [(ngModel)]="pagesize" (change)="shared.getAllStudents(PageNumber,pagesize)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select> entries</label>
    </div>
  </div>
  <div class="col-md-10" style="float:right;text-align: right">
    <div class="paginations">
      <div>
        <div class="btn-group" id="radioBtn">
          <a class="btn btn-primary btn-sm notActive" (click)="onPrevious()"> Previous </a>
          <a class="btn btn-primary btn-sm active">{{PageNumber}}</a>
          <a class="btn btn-primary btn-sm notActive" (click)="onNext()">Next </a>
        </div>
      </div>
    </div>
  </div> -->



  <div class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar" [ngClass]="{'hidden': !isSidebarOpen}">
      <div class="logo">
        <i class="fa-solid fa-graduation-cap animated-icon" style="color: #fff; cursor: pointer" [routerLink]="['/Dashboard']"></i>
        <h4 *ngIf="isSidebarOpen">{{schoolName}}</h4>
      </div>
    
    
      <div id="list">
        <!-- Dashboard -->
        <div class="dash">
          <i class="fa-solid fa-chart-line" style="color: #fff;"></i>
          <a routerLink="/Dashboard" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Dashboard</a>
        </div>
    
        <!-- Student Dropdown -->
        <div class="dash" (click)="toggleDropdown('student')" style="cursor: pointer;">
          <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          <span class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Student</span>
          <i class="fa-solid fa-chevron-right dropdown-arrow" [class.rotate]="isStudentOpen" *ngIf="isSidebarOpen"></i>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': isStudentOpen}" *ngIf="isSidebarOpen">
          <a routerLink="/student" class="list-group-item">Add Student</a>
          <a routerLink="/student-list" class="list-group-item active" style="opacity: 1;">Student List</a>
          <a routerLink="/absence-list" class="list-group-item">Absence List</a>
        </div>
    
        <!-- Admin Dropdown -->
        <div class="dash" (click)="toggleDropdown('admin')" style="cursor: pointer;">
          <i class="fa-solid fa-user-shield" style="color: #ffffff;"></i>
          <span class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Manager</span>
          <i class="fa-solid fa-chevron-right dropdown-arrow" [class.rotate]="isAdminOpen" *ngIf="isSidebarOpen"></i>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': isAdminOpen}" *ngIf="isSidebarOpen">
          <a routerLink="/Add-admin" class="list-group-item " >Add Manager</a>
          <a routerLink="/admin-list" class="list-group-item">Manager List</a>
        </div>
        <div class="dash">
          <i class="fa-solid fa-user-group" style="color: #ffffff;"></i>
          <a routerLink="/parent-list" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Parent List</a>
        </div>
        <!-- Send Emails -->
        <div class="dash">
          <i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i>
          <a routerLink="/Send-email" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Send Report</a>
        </div>
    
        <!-- Logout -->
        <div class="dash" style="cursor: pointer;">
          <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
          <a (click)="logout()" id="Logout" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Logout</a>
        </div>
      </div>
    </div>
  
    <!-- Main Content -->
    <div id="page-content-wrapper" class="flex-grow-1">
      <div class="header">
        <button title="toggle" id="toggle-sidebar" class="menu-btn" (click)="toggleSidebar()"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></button>
        <!-- search bar --> 
        <div class="form-outline mt-3 p-5">
          <i class="fa-solid fa-magnifying-glass" style="color: #7fbde4a6;"></i>
          <input type="search" id="search" [(ngModel)]="searchtext" class="form-control" placeholder="Search..." id="search">
          <!-- <label id="ser" class="form-label" for="search">Search...</label> -->
        </div>
        <div class="profile-container">
          <img class="profile-img" src="../../assets/profile.png" alt="Profile" 
          (click)="navigateToAdminUpdate()" 
          [routerLink]="['/admin-update',adminId]" />
          <span class="profile-name">{{adminName}}</span>
  
        </div>
      </div>

      
      
      <div class="stud">
        
        <h2 id="head">Students</h2>

  <div class="buttons">
    <!-- Sort Button -->
    <button id='sort' class="btn btn-sm btn-outline-primary mt-2 ms-2" (click)="sortByGradeAscending()">
      Sort by Grade
    </button>


      <div class="dropdown">
        <button class="btn dropdown-toggle" id="addfilter" type="button" data-bs-auto-close="outside" data-bs-toggle="dropdown" aria-expanded="false">
          + Add Filter
        </button>
        <ul class="dropdown-menu">
          <!-- Filter by Grade -->
          <li class="dropend">
            <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Grade</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="grade = null; filterStudents()">All Grades</a></li>
              <li *ngFor="let g of [1, 2, 3, 4, 5, 6, 7, 8]">
                <a class="dropdown-item" (click)="grade = g; filterStudents()">{{ g }}</a>
              </li>
            </ul>
          </li>
      
          <!-- Filter by Gender -->
          <li class="dropend">
            <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown">Gender</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="gender = null; filterStudents()">All Genders</a></li>
              <li><a class="dropdown-item" (click)="gender = 0; filterStudents()">Male</a></li>
              <li><a class="dropdown-item" (click)="gender = 1; filterStudents()">Female</a></li>
            </ul>
          </li>
        </ul>
      </div>
      
      

      <div class="filter-container">
      <button id="add" type="button" ><a routerLink="/student" style="text-decoration: none;color: #fff;">+Add Student</a></button>
      </div>

      </div>
       
        
      </div>
      
    
      
     
      <div class="row mt-5" style="margin-top: 50px;">
        <table class="table table-bordered">
          <thead class="table-secondary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Full name</th>
              <th scope="col">gender</th>
              <th scope="col">grade</th>
              <th scope="col">city</th>
              <th scope="col">street</th>
              <th scope="col">birthDate</th>
              <th scope="col">rfidTag_Id</th>
              <th scope="col">Student Image</th>
              <th scope="col">createdOn</th>
              <th scope="col">parentId</th>
              <th scope="col">parentEmail</th>

            </tr>
          </thead>
          <tbody> 
            
                   <tr *ngFor="let index of filteredStudents |paginate:{itemsPerPage:itemsPerPage,currentPage:pageNumber,totalItems:totalItems}; let i=index">
                      
                      <td>{{i+1}}</td>
                      <td>{{index.id}}</td>
                      <td>{{index.fullName | titlecase}}</td>
                      <td>{{index.gender}}</td>
                      <td>{{index.grade}}</td>
                      <td>{{index.city}}</td>
                      <td>{{index.street}}</td>
                      <td>{{index.birthDate ? (index.birthDate | date: 'yyyy-MM-dd') : 'N/A'}}</td>
                      <td>{{index.rfidTag_Id}}</td>
                      <td>
                        <img *ngIf="index.studentImage" [src]="getImageUrl(index.studentImage)" alt="studentImage" class="school-logo" loading="lazy">
                      </td>
                      <td>{{index.createdOn ? (index.createdOn | date: 'yyyy-MM-dd') : 'N/A'}}</td>
                      <td>{{index.parentId}}</td>
                      <td>{{index.parentEmail }}</td>
                      <td><i id="edit" class="fa-solid fa-pen-to-square " [routerLink]="['/update',index.id]" title="edit"></i></td>
                      <td><i id="delete" class="fa-solid fa-trash-can " style="color: #d21919;" (click)="delete(index.id)" title="delete"></i></td>
                     
                    
                    </tr>
      
             
            
           
          </tbody>
        </table>
           <div class="pagination">
    
    <pagination-controls (pageChange)="pagechanged($event)" previousLabel="prev" nextLabel="Next"></pagination-controls>
  </div> 
  <div *ngIf="filteredStudents.length" class="col-md-1">
    <i class="fa-solid fa-download"  id="csv" title="download file.csv" (click)="downloadCsvFile()"></i>

  </div>
       
    </div> 
  </div>
  