<div class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar" [ngClass]="{'hidden': !isSidebarOpen}">
      <div class="logo">
        <i class="fa-solid fa-graduation-cap animated-icon" style="color: #fff; cursor: pointer" [routerLink]="['/dashboard']"></i>
        <h4 *ngIf="isSidebarOpen">SMART</h4>
        <h5 *ngIf="isSidebarOpen">TRACK</h5>
      </div>
    
    
      <div id="list">
        <div class="dash">
          <i class="fa-solid fa-chart-line" style="color: #fff;"></i>
          <a routerLink="/dashboard" class="list-group-item list-group-item-action active" *ngIf="isSidebarOpen">Dashboard</a>
        </div>
         <!-- school -->
         <div class="dash" (click)="toggleDropdown('school')" style="cursor: pointer;">
          <i class="fa-solid fa-school" style="color: #ffffff;"></i>
          <span class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Schools</span>
          <i class="fa-solid fa-chevron-right dropdown-arrow" [class.rotate]="isSchoolOpen" *ngIf="isSidebarOpen"></i>
        </div>
      <div class="dropdown-content" [ngClass]="{'show': isSchoolOpen}" *ngIf="isSidebarOpen">
        
          
          <a routerLink="/school-list" class="list-group-item active"style="opacity: 1;" *ngIf="isSidebarOpen">Schools</a>
          <a routerLink="/add-owner" class="list-group-item " *ngIf="isSidebarOpen">Add Managers</a>
        </div>
    
        <div class="dash">
          <i class="fa-solid fa-user-shield" style="color: #ffffff;"></i>
          <a routerLink="/developers" class="list-group-item active"style="opacity: 1;" *ngIf="isSidebarOpen">Developers</a>
        </div>
      
          <!-- Logout -->
          <div class="dash" style="cursor: pointer;">
            <i class="fa-solid fa-right-from-bracket" style="color: #d21919;"></i>
            <a (click)="logout()" id="Logout" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Logout</a>
          </div>
        </div>
    </div>
    
  
    <!-- Main Content -->
    <div id="page-content-wrapper" class="flex-grow-1">
        <div class="header">
          <button title="toggle" id="toggle-sidebar" class="menu-btn" (click)="toggleSidebar()"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></button>
          <h2 id="head">Add Managers</h2>
          <div class="profile-container">
            <img class="profile-img" src="../../assets/profile.png" alt="Profile" 
            (click)="navigateToAdminUpdate()" 
            [routerLink]="['/admin-update',adminId]" />
            <span class="profile-name">{{adminName}}</span>
    
          </div>
        </div>
        
    
        <hr>
       
        <div class="row mt-5" style="margin-top: 50px;">
      
          <div class="col-3">
              <label for="inputState" class="form-label">UserName</label>
              <input [(ngModel)]="admin.userName" type="text" title="text" placeholder="userName" class="form-control m-1">
          </div>
          <div class="col-3">
              <label for="inputState" class="form-label">email</label>
              <input [(ngModel)]="admin.email" type="email" title="text" placeholder="email" class="form-control m-1">
          </div>
          
          <div class="col-3">
              <label for="inputState" class="form-label">password</label>
              <input [(ngModel)]="admin.password" type="text" title="text" placeholder="password" class="form-control m-1">
          </div>
          <div class="col-3">
              <label for="inputState" class="form-label">confirm password</label>
              <input [(ngModel)]="admin.confirmPassword" type="text" title="text" placeholder="confirmPassword" class="form-control m-1">
          </div>
          <div class="col-3">
              <label for="inputState" class="form-label">schoolTenantId</label>
              <select  [(ngModel)]="admin.schoolTenantId" class="form-select">
                <option disabled>Choose School</option>
                <option *ngFor="let name of schoolNames" [value]="name">{{ name }}</option>
              </select>
          </div>




          <div class="col-2" id="save">
            <button style="background-color: #00015d;align-items: center;" class="form-control mb-5  text-light mt-5" type="button" (click)="addAdmin()">Save</button>
         </div>
         
         
        </div>
        
    </div>
</div>