
<div class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar" [ngClass]="{'hidden': !isSidebarOpen}">
        <div class="logo">
          <i class="fa-solid fa-graduation-cap animated-icon" style="color: #fff; cursor: pointer" [routerLink]="['/dashboard']"></i>
          <h4 *ngIf="isSidebarOpen">SMART</h4>
          <h5 *ngIf="isSidebarOpen">TRACK</h5>
        </div>
      
      
        <div id="list">
          <div class="dash">
            <i class="fa-solid fa-chart-line" style="color: #fff;"></i>
            <a routerLink="/dashboard" class="list-group-item list-group-item-action active" *ngIf="isSidebarOpen">Dashboard</a>
          </div>
          
          <!-- school -->
        <div class="dash" (click)="toggleDropdown('school')" style="cursor: pointer;">
          <i class="fa-solid fa-school" style="color: #ffffff;"></i>
          <span class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Schools</span>
          <i class="fa-solid fa-chevron-right dropdown-arrow" [class.rotate]="isSchoolOpen" *ngIf="isSidebarOpen"></i>
        </div>
      <div class="dropdown-content" [ngClass]="{'show': isSchoolOpen}" *ngIf="isSidebarOpen">
        
          <a routerLink="/add-school"class="list-group-item "  *ngIf="isSidebarOpen">Add School</a>
          <a routerLink="/school-list" class="list-group-item " *ngIf="isSidebarOpen">Schools</a>
          <a routerLink="/add-owner" class="list-group-item " *ngIf="isSidebarOpen">Add Managers</a>
        </div>
    
         <!-- Admin Dropdown -->
      <div class="dash" (click)="toggleDropdown('admin')" style="cursor: pointer;">
          <i class="fa-solid fa-user-shield" style="color: #ffffff;"></i>
          <span class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Developers</span>
          <i class="fa-solid fa-chevron-right dropdown-arrow" [class.rotate]="isAdminOpen" *ngIf="isSidebarOpen"></i>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': isAdminOpen}" *ngIf="isSidebarOpen">
          <a routerLink="/add-developer" class="list-group-item " >Add Developer</a>
          <a routerLink="/developers" class="list-group-item active"style="opacity: 1;">Developers</a>
        </div>
      
          <!-- Logout -->
          <div class="dash" style="cursor: pointer;">
            <i class="fa-solid fa-right-from-bracket" style="color: #d21919;"></i>
            <a (click)="logout()" id="Logout" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Logout</a>
          </div>
        </div>
      </div>
  
    <!-- Main Content -->
    <div id="page-content-wrapper" class="flex-grow-1">
      <div class="header" >
        <button title="toggle" id="toggle-sidebar" class="menu-btn" (click)="toggleSidebar()"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></button>
        <!-- search bar --> 
        <div class="form-outline mt-3 p-5">
          <i class="fa-solid fa-magnifying-glass" style="color: #7fbde4a6;"></i>
          <input type="search" id="search" [(ngModel)]="searchtext" class="form-control" placeholder="Search..." id="search">
          <!-- <label id="ser" class="form-label" for="search">Search...</label> -->
        </div>
        <div class="profile-container">
          <img class="profile-img" src="../../assets/profile.png" alt="Profile" 
          (click)="navigateToAdminUpdate()" 
          [routerLink]="['/admin-update',adminId]" />
          <span class="profile-name">{{adminName}}</span>
  
        </div>
      </div>

      
      
      <div class="stud">
        <h2 id="head">Developers</h2>

  <div class="buttons">
    <!-- Sort Button -->
    


      
      
      

      <div class="filter-container">
      <button id="add" type="button" ><a routerLink="/add-developer" style="text-decoration: none;color: #fff;">+Add Developer</a></button>
      </div>

      </div>
       
        
      </div>
      
    
      
     
      <div class="row mt-5" style="margin-top: 50px;">
        <table class="table table-bordered">
          <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">User name</th>
                <th scope="col">email</th>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">phone number</th>
                <th scope="col">Address</th>
                <th scope="col">gender</th>
                <th scope="col">Role</th>
                <th scope="col">created on</th>
                <th scope="col">Is Owner</th>
            </tr>
          </thead>
          <tbody> 
            
                   <tr *ngFor="let index of filteredadmins |paginate:{itemsPerPage:itemsPerPage,currentPage:pageNumber,totalItems:totalItems}; let i=index">
                      
                    <td>{{i+1}}</td>
                    <td>{{index.id}}</td>
                    <td>{{index.userName }}</td>
                    <td>{{index.email}}</td>
                    <td>{{index.firstName}}</td>
                    <td>{{index.lastName}}</td>
                    <td>{{index.phoneNumber}}</td>
                    <td>{{index.address}}</td>
                    <td>{{index.gender}}</td>
                    <td>{{index.role}}</td>
            
                    <td>{{index.createdOn ? (index.createdOn | date: 'yyyy-MM-dd') : 'N/A'}}</td>
                    <td>{{index.owner}}</td>
                    <td *ngIf="(index.role==='Admin')&&(index.id===MId)"><i id="edit" class="fa-solid fa-pen-to-square " [routerLink]="['/admin-update',index.id]" title="edit"></i></td>
                    <td *ngIf="(index.role==='Admin')&&(IsOwner()===true)"><i id="delete" class="fa-solid fa-trash-can " style="color: #d21919;" aria-hidden="true" (click)="delete(index.id)" title="delete"></i></td>
                   
                    
                    </tr>
      
             
            
           
          </tbody>
        </table>
           <div class="pagination">
    
    <pagination-controls (pageChange)="pagechanged($event)" previousLabel="prev" nextLabel="Next"></pagination-controls>
  </div> 

  <div *ngIf="filteredadmins.length" class="col-md-1">
    <i class="fa-solid fa-download"  id="csv" title="download file.csv" (click)="downloadCsvFile()"></i>

  </div>
       
    </div> 
  </div>
  