
<div class="container" [ngClass]="{'right-panel-active': isRightPanelActive}">
	<div class="form-container sign-up-container">
		<div class="form">
			<h1>login to your Account</h1>
			
			
			<div class="input-box">
                <i class="fa-solid fa-envelope" style="margin-left: 12px; margin-top: 8px;"></i>
                <input class="email" [(ngModel)]="obj.userName" type="text" placeholder="Enter your username"  required/>
            </div>
            <div class="input-box">
                <i class="fa-solid fa-lock" style="margin-left: 12px; margin-top: 8px;"></i>
                <input class="pass" [(ngModel)]="obj.password" [type]="showPassword ? 'text' : 'password'" id="pass" type="password" placeholder="Enter your password"   required/>
                <i class="fa-solid" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePasswordVisibility()"></i>
            </div>
			<a routerLink="/forgot-password" style="color:#5CC2F2 ;">Forgot your password?</a>
			<button id="login" type="submit"  (click)="loginPage()">Login</button>
		</div>
	</div>
	<div class="form-container sign-in-container">
        <div class="logo">
            <i class="fa-solid fa-graduation-cap animated-icon" style="color: #050505;"></i>
            <h4>Triple</h4>
            <h5>S</h5>
        </div>
        

		<form action="#">
			<h3>Welcome to School Management System Admin Panel</h3>
            <h6>Efficiently manage all school-related tasks.</h6>
			
			<button id="get" (click)="activateRightPanel()">Get Started</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<img src="../../assets/a4e461fe3742a7cf10a1008ffcb18744.png" alt="" id="left-img" >
				<div class="logo2">
					<i class="fa-solid fa-graduation-cap animated-icon" style="color: #fff;"></i>
					<h4>Triple</h4>
					<h5>S</h5>
				</div>
			</div>
			<div class="overlay-panel overlay-right" >
				
				<img src="../../assets/a4e461fe3742a7cf10a1008ffcb18744.png" alt="" id="right-img">
			</div>
		</div>
	</div>
</div>

