
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>login to your Account</h1>
			
			
			<div class="input-box">
                <input class="email" type="text" placeholder="Enter your email address" [(ngModel)]="obj.userName" required/>
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
                <input class="pass" id="pass" type="password" placeholder="Enter your password" [(ngModel)]="obj.password"  required/>
                <i class="fa-solid fa-lock"></i>
                <i class="fa-regular fa-eye-slash" onclick="showPass()" style="cursor: pointer;"></i>
            </div>
			<a href="#" style="color:#5CC2F2 ;">Forgot your password?</a>
			<button id="login" (click)="loginPage()">Login</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
        <div class="logo">
            <i class="fa-solid fa-graduation-cap" style="color: #050505;"></i>
            <h4>SMART</h4>
            <h5>TRACK</h5>
        </div>
        

		<form action="#">
			<h3>Welcome to School Management System Admin Panel</h3>
            <h6>Efficiently manage all school-related tasks.</h6>
			
			<button id="get">Get Started</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<img src="../../assets/a4e461fe3742a7cf10a1008ffcb18744.png" alt="">
				<div class="logo2">
					<i class="fa-solid fa-graduation-cap" style="color: #fff;"></i>
					<h4>SMART</h4>
					<h5>TRACK</h5>
				</div>
			</div>
			<div class="overlay-panel overlay-right">
				
				<img src="../../assets/a4e461fe3742a7cf10a1008ffcb18744.png" alt="">
			</div>
		</div>
	</div>
</div>

