<div class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar"  style="width: 250px;">
      <div class="logo">
        <i class="fa-solid fa-graduation-cap" style="color: #fff;cursor: pointer" [routerLink]="['/Dashboard']"></i>
        <h4>SMART</h4>
        <h5>TRACK</h5>
      </div>
      <div  id="list">
        <div class="dash">
          <i class="fa-solid fa-chart-line" style="color: #fff;"></i>
          <a routerLink="/Dashboard" class="list-group-item list-group-item-action ">Dashboard</a>
        </div>
        <div class="dash">
          <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          <a routerLink="/student-list" class="list-group-item list-group-item-action ">Student List</a>
        </div>
        <div class="dash" >
          <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
          <a routerLink="/student" active class="list-group-item list-group-item-action ">Add Student</a>
        </div>
        <div class="dash " >
          <i class="fa-solid fa-user-shield" style="color: #ffffff;"></i>
          <a routerLink="/Add-admin" active class="list-group-item list-group-item-action ">Add Admin</a>
        </div>
        <div class="dash" >
          <i class="fa-solid fa-users-line" style="color: #ffffff;"></i>
          <a routerLink="/admin-list" active class="list-group-item list-group-item-action ">Admin List</a>
        </div>
        <div class="dash " >
          <i class="fa-solid fa-children" style="color: #ffffff;"></i>
          <a routerLink="/absence-list" active class="list-group-item list-group-item-action ">absence List</a>
        </div>
        <div class="dash active" >
          <i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i>
          <a routerLink="/Send-email" active class="list-group-item list-group-item-action ">Send Emails</a>
        </div>
        <div class="dash" style="cursor: pointer;">
          <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
          <a (click)="logout()" id="Logout" class="list-group-item list-group-item-action ">Logout</a>
        </div>
       
       
      </div>
    </div>
  
    <!-- Main Content -->
    <div id="page-content-wrapper" class="flex-grow-1">
        <div class="header">
          <h2 id="head">Send Email</h2>
          <img src="../../assets/profile.png" alt="Profile" 
      (click)="navigateToAdminUpdate()" 
      [routerLink]="['/admin-update',adminId]"
      title="update">
        </div>
        
    
        <hr>
       
        <div class="row mt-5" style="margin-top: 50px;">
      
          <form (submit)="sendEmail(); $event.preventDefault()">
            <label for="toEmail">Send To</label>
            <input type="email" id="toEmail" [(ngModel)]="emailData.toEmail" name="toEmail" class="form-control m-1" required />
        
            <label for="subject">Subject</label>
            <input type="text" id="subject" [(ngModel)]="emailData.subject" name="subject" class="form-control m-1" required />
        
            <label for="body">Body</label>
            <textarea id="body" [(ngModel)]="emailData.body" name="body" required class="form-control m-1"></textarea>
        

          <div class="col-2" id="save">
            <button style="background-color: #191BA9;align-items: center;" class="form-control mb-5  text-light mt-5" type="submit">Send</button>
         </div>
         
          </form>
        </div>
        
    </div>
</div>
