*{
  font-family:sans-serif;
}
#sidebar {
    background-color: #191BA9;
    color: white;
  }
#list{
    background-color: transparent;
    margin-top: -10px;
    font-size: 21px;
    font-weight: bold;
    padding: 41px;
    padding-top: 0px;
  }
#list a{
    padding-top: 25px;
    left: 15px;
}

.dash i{
    position: relative;
    top: 57px;
    left: -22px;
    font-size: 25px;
}
.dash{
  opacity: .5;
}
.dash:hover{
  scale: 1.2;
  opacity: 1;
}
.active{
  scale: 1.1;
  opacity: 1;
}


.logo{

    font-size: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#page-content-wrapper {
    width: 100%;
    margin-left: 30px;
  }

  .mt-5 {
    margin-top: 8rem ;
}
#head{
  margin-top: 30px;
  font-weight: bold;
}
#save{
  position: relative;
  left: 565px;

}
.col-3{
  padding: 10px;
}
.col-md-3{
  padding: 10px;

}
.col-5{
  padding: 10px;
}
.col-4{
  padding: 10px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
img{
  width: 40px;
  height: 35px;
  position: relative;
  left: -50px;
  cursor: pointer;
}
img:hover{
  scale: 1.2;
}

button{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

button:active {
  transform: scale(0.95);
}  
  
@keyframes bounceAnimation {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.animated-icon {
  animation: bounceAnimation 0.6s ease-in-out infinite;
  animation-delay: 3s;
}
