<div class="d-flex">
    <!-- Sidebar -->
    <div id="sidebar" [ngClass]="{'hidden': !isSidebarOpen}">
      <div class="logo">
        <i class="fa-solid fa-graduation-cap animated-icon" style="color: #fff; cursor: pointer" [routerLink]="['/Dashboard']"></i>
        <h4 *ngIf="isSidebarOpen">SMART</h4>
        <h5 *ngIf="isSidebarOpen">TRACK</h5>
      </div>
    
    
      <div id="list">
        <!-- Dashboard -->
        <div class="dash">
          <i class="fa-solid fa-chart-line" style="color: #fff;"></i>
          <a routerLink="/Dashboard" class="list-group-item list-group-item-action active" style="opacity: 1;" *ngIf="isSidebarOpen">Dashboard</a>
        </div>
    
        <!-- Student Dropdown -->
        <div class="dash" (click)="toggleDropdown('student')" style="cursor: pointer;">
          <i class="fa-solid fa-user" style="color: #ffffff;"></i>
          <span class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Student</span>
          <i class="fa-solid fa-chevron-right dropdown-arrow" [class.rotate]="isStudentOpen" *ngIf="isSidebarOpen"></i>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': isStudentOpen}" *ngIf="isSidebarOpen">
          <a routerLink="/student" class="list-group-item">Add Student</a>
          <a routerLink="/student-list" class="list-group-item">Student List</a>
          <a routerLink="/absence-list" class="list-group-item">Absence List</a>
        </div>
    
        <!-- Admin Dropdown -->
        <div class="dash" (click)="toggleDropdown('admin')" style="cursor: pointer;">
          <i class="fa-solid fa-user-shield" style="color: #ffffff;"></i>
          <span class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Admin</span>
          <i class="fa-solid fa-chevron-right dropdown-arrow" [class.rotate]="isAdminOpen" *ngIf="isSidebarOpen"></i>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': isAdminOpen}" *ngIf="isSidebarOpen">
          <a routerLink="/Add-admin" class="list-group-item ">Add Admin</a>
          <a routerLink="/admin-list" class="list-group-item">Admin List</a>
        </div>
    
        <!-- Send Emails -->
        <div class="dash">
          <i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i>
          <a routerLink="/Send-email" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Send Report</a>
        </div>
    
        <!-- Logout -->
        <div class="dash" style="cursor: pointer;">
          <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>
          <a (click)="logout()" id="Logout" class="list-group-item list-group-item-action" *ngIf="isSidebarOpen">Logout</a>
        </div>
      </div>
    </div>
  
    <!-- Main Content -->
    <div id="page-content-wrapper" class="flex-grow-1">
      <div class="header">
        <button id="toggle-sidebar" class="menu-btn" (click)="toggleSidebar()">☰</button>
        <!-- search bar --> 
        <div class="form-outline mt-3 p-5">
          <h1 id="Welcome" >Welcome Admin!</h1>

          <!-- <label id="ser" class="form-label" for="search">Search...</label> -->
        </div>
        <div class="profile-container">
          <img class="profile-img" src="../../assets/profile.png" alt="Profile" 
          (click)="navigateToAdminUpdate()" 
          [routerLink]="['/admin-update',adminId]" />
          <span class="profile-name">{{adminName}}</span>
  
        </div>
      </div>

      <div class="stud">
       <div class="user">
        <div class="i"><i class="fa-solid fa-user-tie" style="color: #ffffff;"></i></div> 
        <div class="user2">
            <h5>Student</h5>
            <h1>{{ studentCount }}</h1>
        </div>
       </div>
       <div class="user" >
        <div class="i" style="background-color: #D9D9D9;"><i class="fa-solid fa-user-group" style="color: #ffffff;"></i></div> 
        <div class="user2">
            <h5>Parents</h5>
            <h1>245</h1>
        </div>
       </div>
       <div class="user">
        <div class="i" style="background-color: #C1EAF2;"><i class="fa-solid fa-dollar-sign" style="color: #ffffff;"></i></div> 
        <div class="user2">
            <h5>Earning</h5>
            <h1>$10,000</h1>
        </div>
       </div>
       <div class="user">
       <div class="i" style="background-color:#5CC2F2;"><i class="fa-solid fa-utensils" style="color: #ffffff;"></i></div> 
        <div class="user2">
            <h5>Foods</h5>
            <h1>32K</h1>
        </div>
       </div>
      </div>

     <app-chart></app-chart>
    <app-calendar style="height: 48px; display: block;"></app-calendar>

</div>     

