<!-- <div class="calendar-container">
    <h2>School Calendar</h2>
    <mat-calendar 
      
      [dateClass]="dateClass">
    </mat-calendar>
    <p *ngIf="selectedDate">Selected Date: {{ selectedDate | date }}</p>
  </div> -->
  <div class="container">
    <full-calendar [options]="calendarOptions">
      <ng-template #eventContent let-arg>
        <b>{{arg.timeText}}</b>
        <i>{{arg.event.title}}</i>
        <br>
        <i (click)="deleteEvent(arg.event)" class="fa-solid fa-trash" aria-hidden="true" style="color: red;cursor: pointer;" title="delete"></i>
      </ng-template>
    </full-calendar>
  </div>
 