<div class="reset-container">
    <!-- القسم الأيسر (الصورة والخلفية) -->
    <div class="reset-left">
        <div class="logo"> 
            <i class="fa-solid fa-graduation-cap"></i> 
            <h4>SMART</h4>
            <h5>TRACK</h5>
        </div>
        <img src="../../assets/a4e461fe3742a7cf10a1008ffcb18744.png" alt="Reset Illustration" class="reset-img">
    </div>

    <!-- القسم الأيمن (النموذج) -->
    <div class="reset-right">
        <h2>Reset Password</h2>
        <p>Enter your registered email address</p>

        <div class="input-box">
            <i class="fa-solid fa-envelope"></i>
            <input name="email" type="email" [(ngModel)]="email" placeholder="Email address" class="form-control" required />
        </div>

        <button class="btn-reset" (click)="sendResetLink()">Reset My Password</button>
    </div>
</div>
